form{
    display: inline-block;
    padding: 20px;
    width: 350px;
    background-color: green;
    border: 8px solid cyan;
    border-radius: 8px;
    margin-left: 100px;

}
body{
    color:white;
    
    font-family: 'Times New Roman', Times, serif;

   
}
label {
    display: inline-block;
    width: 100px;

}
.campo {
    width: 150px;
        border: 2px solid red;
}
.espacio{
    margin-left: 10px;
}
#btn{
    margin-bottom: 20px;
    
}
